<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taffy.neko.mapper.ArticleMapper">
    <update id="updateViews">
        update article
        set views = views + 1
        where id = #{id}
    </update>

    <select id="selectArticleVOByPage" resultType="com.taffy.neko.models.vo.ArticleVO">
        select a.header,
               a.id,
               a.cover_url,
               a.user_id,
               a.views,
               a.is_top,
               a.is_visible,
               a.create_time,
               u.avatar_url
        from article a
                 join user u
                      on a.user_id = u.id
        where a.header like concat('%',#{header},'%')
        order by create_time desc
    </select>
    <select id="getArticleByTags" resultType="com.taffy.neko.entity.Article">
        select *
        from article
        where
        FIND_IN_SET(#{tags},tags)
    </select>
    <select id="getArticleByTagsCount" resultType="com.taffy.neko.entity.Article">
        select *
        from article
        where
            FIND_IN_SET(#{tags},tags)
    </select>
</mapper>