<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taffy.neko.mapper.ChatListMapper">
    <select id="selectChatListById" resultType="com.taffy.neko.models.vo.ChatLeftVO">
        SELECT IF(cl.from_id = #{userId}, cl.to_id, cl.from_id)                 AS userId,
               IF(cl.from_id = #{userId}, cl.to_nick_name, cl.from_nick_name)   AS userNickName,
               IF(cl.from_id = #{userId}, cl.to_avatar_url, cl.from_avatar_url) AS userAvatarUrl,
               MAX(cl.last_time)                                                AS lastTime
        FROM chat_list cl
        WHERE cl.from_id = #{userId}
           OR cl.to_id = #{userId}
        GROUP BY userId, userNickName, userAvatarUrl
        ORDER BY lastTime DESC
    </select>
</mapper>