<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taffy.neko.mapper.ChatMapper">

    <select id="getOtherUserIds" resultType="java.lang.String">
        (select distinct to_id
         from chat
         where from_id = #{id}
         order by is_read)
        union
        (select distinct from_id from chat where to_id = #{id} order by is_read)
    </select>
</mapper>