<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taffy.neko.mapper.CommentMapper">
    <select id="findCommentDetail" resultType="com.taffy.neko.models.vo.CommentDetailVO">
        select c.*, u.nick_name, u.avatar_url
        from comment c
                 left join user u on c.user_id = u.id
        where c.article_id = #{article_id}
    </select>
</mapper>